.section {
  height: 90vh;
  background: url(../../Assets/intro.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.title {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
}
